* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: #9356DC;
    --bg-color: #F6F6F6;
    --grey: #353535;
    --gradient-color: #FF79DA;
    --grey-tint: #7E7E7E;
    --grey-light: #EAEAEA;
    --black: #000;
    --white: #FFFFFF;
    --green-light: #99E2D0;
    --green: #008766;
    --button-gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    --nav-load-time: 1.5s;
    --nav-link-load-time: 500ms;
}

html, body {
    margin: 0;
    padding:0;
}