.section-fonctionnement {
  background: var(--white, #fff);
  padding-bottom: 68px;
  animation: article-load var(--nav-load-time) ease-in;

  @media (min-width: 1025px) {
    padding: 50px 180px 50px 180px;
  }
}

.page-header {
  animation: nav-load var(--nav-load-time) ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.fonctionnement-container {
  padding: 20px;
  @media (min-width: 1025px) {
    padding: 50px 180px 50px 180px;
  }
}

.title-fonctionnement {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: start;
}

@keyframes list {
  0% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  70% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}

.list-item:nth-child(1) {
  animation: list 2s 1s forwards;
}
.list-item:nth-child(2) {
  animation: list 2.4s 1s forwards;
}
.list-item:nth-child(3) {
  animation: list 2.8s 1s forwards;
}

.numbered-list {
  counter-reset: li;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media (min-width: 1025px) {
    display: flex;
    flex-direction: row;
    gap: 36px;
        margin: 0%;
        padding-left: 0%;
  }

  @keyframes list {
    0% {
      transform: translateX(-10px) translateY(-10px);
      opacity: 0;
    }
    70% {
      transform: translateX(-10px) translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px) translateY(0px);
      opacity: 1;
    }
  }

  .list-item {
    &:nth-child(1) {
      animation: list 2s 1s forwards;
    }
    &:nth-child(2) {
      animation: list 2.4s 1s forwards;
    }
    &:nth-child(3) {
      animation: list 2.8s 1s forwards;
    }
    position: relative;
    padding: 30px 0 5px 30px;
    border-radius: 20px;
    height: 72.379px;
    background-color: var(--bg-color, #f6f6f6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width: 100%;

    &:before {
      content: counter(li);
      counter-increment: li;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--primary, #9356dc);
      color: white;
      text-align: center;
      position: absolute;
      left: -12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: calc(50% - 12px);
    }
  }
}

.list-item .fa-solid {
  width: 16px;
  color: var(--grey-tint, #7e7e7e);
  padding-right: 23px;

  .fa-store {
    color: var(--primary, #9356dc);
  }
}
