@use "../utils/variables.scss";


.plats-au-choix {
	padding-bottom: 28px;
  
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4) {
	  .article-title {
		animation: menuOn 2s 1s forwards;
	  }
	}
  }
  
  .menu {
	&:nth-child(1) {
	  animation: menuOn 2.4s 1s forwards;
	}
	&:nth-child(2) {
	  animation: menuOn 2.8s 1s forwards;
	}
	&:nth-child(3),
	&:nth-child(4) {
	  animation: menuOn 3.2s 1s forwards;
	}
  }
  
.header-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $background-color_1;
	animation: nav-load 1.5s ease-in;
}
.header-icon {
	text-decoration: none;
	display: flex;
	position: absolute;
	justify-content: center;
}
.fa-sharp {
	color: $color_1;
	display: flex;
	justify-content: center;
	padding: 17px 0px 17px 17px;
}
.logo-top {
	color: $color_2;
	padding: 14px 10px 13px 10px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 59px;
	a {
		max-width: 200px;
	}
}
.header-image {
	img {
		width: 100%;
		height: 275px;
		object-fit: cover;
		animation: nav-load-img 1.7s ease-in;
	}
}
.section-menu-restaurant {
	background-color: $background-color_2;
	padding-top: 32px;
	position: relative;
	border-radius: 35px 35px 0 0;
	padding-bottom: 0;
	margin-top: -40px;
	padding-right: 13px;
	padding-left: 13px;
}
.titre-principal {
	color: $color_2;
	font-family: $font-family_1;
	font-size: 28px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 42px;
	padding-right: 24px;
	animation: titreRestaurant 1.7s 1s forwards;
}
.nom-partie-menu {
	font-family: $font-family_2;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 6px;
	display: flex;
	flex-direction: column;
	&::before {
		content: "";
		width: 40px;
		height: 3px;
		background: #99e2d0;
		display: inline;
		position: relative;
		left: 1px;
		bottom: -26px;
	}
}
@media (min-width: 1025px) {
	.header-navigation {
		height: 95px;
	}
	.header-image {
		img {
			height: 565px;
		}
	}
	.section-menu-restaurant {
		padding-top: 50px;
		width: 100%;
		margin: 0 auto;
		margin-top: -40px;
		max-width: 1055px;
		padding-left: 211px;
		padding-right: 211px;
	}
}
