@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderOff {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes list {
  0% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  70% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes titreRestaurant {
  0% {
    transform: translateX(20px) translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}

@keyframes menuOn {
  0% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  70% {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}
