@use "../utils/variables.scss";

/*FOOTER*/
.footer {
	background-color: $background-color_4;
	padding: 22px 25px;
	width: 100%;
}
.footer-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.footer-logo {
	display: flex;
	height: 27px;
	filter: brightness(0) invert(1);
}
.footer-list {
	padding: 0;
	margin: 0;
	padding-top: 15px;
}
.footer-list-item {
	a {
		color: $color_3;
		font-weight: 500;
		text-decoration: none;
		font-size: 16px;
	}
	list-style: none;
	padding-bottom: 8px;
}
@media (min-width: 1025px) {
	.footer-column {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 80px;
		padding-right: 25px;
	}
	.footer-list {
		display: flex;
		gap: 35px;
	}
	.footer {
		padding: 40px 25px 30px 25px;
	}
}