/*  Desktop */
@media (min-width: 1025px) {
  .section-fonctionnement {
    padding: 50px 180px 50px 180px;
  }

  .fonctionnement-container {
    padding: 0;
  }

  .numbered-list {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin: 0%;
    padding-left: 0%;
  }

  .title {
    padding-top: 0%;
    padding-left: 150px;
    padding-bottom: 0%;
  }

  .restaurants-card {
    width: calc(100% / 2 - 180px);
  }

  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;
  }

  .footer-column {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    padding-right: 25px;
  }

  .footer-list {
    display: flex;
    gap: 35px;
  }

  .footer {
    padding: 40px 25px 30px 25px;
  }
}
